{% extends 'layout.html' %} {% block content %}

    
    <article>
    <div class="container">
    {% for row in content %}
<div class="card">
    <p class="story">
    {{ row[5] }}
  </p> <!--will be for intro to story-->
  <h1 class="card-name">{{ row[1] }}</h1> <!--name-->
  <p class="card-wordcount">{{ row[4] }}</p> <!--description-->
  <a class="card-link" href="{{ row[2] }}"> <button class="btn">Read More</button></a> <!--link to page for story-->
</div>
{% endfor %}
</div>    
    </article> <!--Will include Story and Name-->
    <aside></aside> <!--Will include Wordcount, Author, Class and Description-->
    <footer></footer>
{% endblock %}
